<!DOCTYPE html>
<head>
    <title>Flask Web Site</title>
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/checkList.css">
    <link rel="stylesheet" href="/static/footer.css">
</head>
<body>
    {% block header %}
        {% include "header.html" %}
    {% endblock %}
    <main>
        <h1>체크리스트</h1>
        <form action="/checkList/" method="POST" id="checkListForm">
            <input type="text" name="text" placeholder="체크리스트 작성하기"/>
            <button type="submit">+</button>
        </form>
        <ul>
            {% for list in checkLists %}
                <form action="/checkList/" method="POST" class="deleteForm">
                    <li>{{ list['text'] }}</li>
                    <input type="hidden" name="delete" value="{{ list['post_id'] }}" />
                    <button type="submit" class="deleteButton">X</button>
                </form>
            {% endfor %}
        </ul>
    </main>
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
</body>
</html>
